body {
    background-color: #DEDEDE;
}

.card .material-icons {
    font-size: 6rem;
}

.footer {
    background-color: #6c63ff;
}

.footer a {
    color: #3161a9;
}

figure {
  transform: scale(1);
  transition: 1s;
}

figure:hover {
  transform: scale(0.8);
  transition: 1s;
}

article.card:hover {
  background: #DAADFD;
}
